<meta name="color-scheme" content="dark light">
<style>canvas {border: solid white}</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
<script>
const scale = 50
const sets = []
let x = 0, y = 0
let xmax = x, xmin = x
let ymax = y, ymin = y
let pframe, px, py

function setup() {
    createCanvas(600, 600)
    //randomSeed(443)
    colorMode(HSB)
    stroke(255)

    for (let i = 0; i < 4; ++i)
        sets.push(genSet())

    pframe = createP()
    px = createP()
    py = createP()
}

function draw() {
    translate(width / 2, height / 2)

    for (let _ = 0; _ < 200; ++_) {
        point(x * scale, y * scale)
        iterate()
        xmax = max(x, xmax)
        xmin = min(x, xmin)
        ymax = max(y, ymax)
        ymin = min(y, ymin)
    }

    pframe.html('Framerate: ' + round(frameRate()))
    px.html(`x: ${xmax}, ${xmin}`)
    py.html(`y: ${ymax}, ${ymin}`)
}

function iterate() {
    const r = random()
    //stroke(floor(r * 255), 100, 100)
    const i = floor(r * sets.length)
    const a = sets[i][0]
    const b = sets[i][1]
    const c = sets[i][2]
    const d = sets[i][3]
    const e = sets[i][4]
    const f = sets[i][5]
    const nx = a * x + b * y + c
    const ny = d * x + e * y + f
    x = nx
    y = ny
}

function genSet() {
    const m = random() * TWO_PI
    const n = random() * TWO_PI
    const ra = random()
    const rb = random()

    const a = sin(m) * ra
    const d = cos(m) * ra
    const b = sin(n) * rb
    const e = cos(n) * rb
    const c = random() * 2 - 1
    const f = random() * 2 - 1

    //console.log(a, b, c, d, e, f)
    return [a, b, c, d, e, f]
}
</script>
