<style>canvas { cursor: none }</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
<script>
const POINTS_NUM = 50
let S, points

function setup() {
  createCanvas(400, 400, WEBGL)
  S = createShader(`\
attribute vec3 aPosition;
void main() {
  gl_Position = vec4(aPosition, 1.0);
}
`, `\
precision highp float;
uniform sampler2D points;
void main() {
  vec2 uv = gl_FragCoord.xy / vec2(${width}.0, ${height}.0);
  float bri = 0.0;
  for (float i = 0.0; i < 1.0; i += 1.0/${POINTS_NUM}.0) {
    vec2 point_pos = texture2D(points, vec2(i, 0.0)).xy;
    float dist = length(uv - point_pos);
    bri += 0.001 / dist;
  }
  gl_FragColor = vec4(vec3(bri), 1.0);
}
`)
  points = createImage(POINTS_NUM, 1)
}

function draw() {
  const dt = millis() / 1000
  shader(S)
  points.loadPixels()
  for (let i = 0; i < points.width; ++i) {
    points.pixels[i*4+0] = floor(noise(dt + i * 0.1) * 256)
    points.pixels[i*4+1] = floor(noise(dt - i * 0.1) * 256)
    points.pixels[i*4+2] = 255
    points.pixels[i*4+3] = 255
  }
  points.updatePixels()
  S.setUniform('points', points)

  quad(-1, -1, 1, -1, 1, 1, -1, 1)
}
</script>